/* body margin is cancer no comment */
/* common classer*/
body{
    margin: 0px;
}

.noHeight{
    height: 0px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* end of common*/

/* opening */
.gateway{
    background:black;
    height: 25vh;
    width: 100%;
    border-bottom: solid 10px;
}

.growing{
    animation: growing 6s linear infinite;
}

.growingOnce{
    animation: growingOnce 0.5s linear;
}

@keyframes growing {
    from {border-color: #414947;}
    25% {border-color: #17fff3;}
    50% {border-color: #414947;}
    to {border-color: #414947;}
}

@keyframes growingOnce {
    from {border-color: #414947;}
    to {border-color: #17fff3;}
}

#gate{
    height: 100vh;
    background: black;
}

#verticleLightTop{
    position: relative;
    width: 0px;
    height: 50%;
    border-left: solid 5px #414947;
    border-right: solid 5px #414947;
    top: -20px;
    left: 50%;
}

#noHeightContainer{
    position:relative;
    bottom: 59vh;
    margin-left: auto;
    margin-right: auto;
}

#verticleLightBot{
    position: relative;
    width: 0px;
    height: calc(50% - 20px);
    border-left: solid 5px #414947;
    border-right: solid 5px #414947;
    left: 50%;
}

#horizontalLightLeft{
    position: relative;
    border-top: solid 5px #414947;
    border-bottom: solid 5px #414947;
    top: 50%;
    width: 50%;
}

#horizontalLightRight{
    position: relative;
    border-top: solid 5px #414947;
    border-bottom: solid 5px #414947;
    top: calc(50% - 10px);
    left: 50%;
    width: 50%;
}

.gateLight{
    position: relative;
    z-index: 1;
}

/*gear start*/

#gearFake{
    position: relative;
    background: #FFFFFF;
    top: calc(-50vh - 70px);
    width: 150px;
    height: 150px;
    margin-left: calc(50% - 70px);
    border-radius: 500px;
    z-index: 1;
}

#gear{
    position: relative;
    background: #8d8d8d;
    top: calc(-50vh - 70px);
    width: 150px;
    height: 150px;
    margin-left: calc(50% - 70px);
    border-radius: 500px;
    z-index: 1;
}

#gearCenter{
    position:relative;
    left: 15%;
    top: 29px;
    width: 110px;
    height: 70px;
    background: #8d8d8d;
    z-index: 5;
}

#gearExterior{
    position:relative;
    left: calc(15% + 5px);
    top: 29px;
    width: 90px;
    height: 90px;
    border: solid 10px #17fff3;
    border-radius: 0px 0px 150px 150px;
}

#gearTeeth1{
    transform: rotate(45deg);
}

#gearTeeth2{
    transform: rotate(90deg);
}

#gearTeeth3{
    transform: rotate(135deg);
}

#gearTeeth4{
    transform: rotate(0deg);
}

.gearTeeth{
    position:relative;
    width: 0px;
    height: 50px;
    border: solid 5px #17fff3;
    top: 20px;
    left: calc(50% - 5px);
    z-index: 100;
}
/* gear end*/

/* arc */

#verticleLightArc{
    position:relative;
    width: 190px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    bottom: 25px; 
    background: #417417;
}

/* arc end*/

@keyframes rotater{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.rotating{
    animation: rotater 2s;
}

.schwartz{
    height: 100vh;
    width: 50vw;
    background: black;
    display: none;
    position: absolute;
    top: 0px;
    z-index: 0;
}

#righty{
    left: 50%;
}

/* end of opening*/

/* main */
#main{
    display:none;
    height: 100vh;
}

/* gear (paul allen op) */
.parent{
  display: flex;
  /* 3 to it's limit */
  height: 33.333333333%;
  position: relative;
  left: -100%;
  width: 120%;
  transition: height 2s;
}

.gear{
  zoom: 50%;
  position: relative;
  width: 200px;
  height: 200px;
  background: #414947;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
  animation: spin 4s linear infinite;
}

.gear .center{
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
  width: 100px;
  height: 100px;
  background: #17fff3;
  border-radius: 50%;
}

.tooth{
  position: absolute;
  top: -25px;
  left: 75px;
  z-index: 1;
  width: 45px;
  height: 250px;
  background:#414947;
}

.tooth:nth-child(2){
  transform: rotate(45deg);
}

.tooth:nth-child(3){
  transform: rotate(90deg);
}

.tooth:nth-child(4){
  transform: rotate(135deg);
}

@keyframes spin {
  from {transform: rotate(0deg); }
  to {transform: rotate(360deg);}
}

.contentClicker{
    width: 100vw;
    height: 100%;
    border: solid 1px;
    background: #414947;
}

.clickerText{
    text-align: center;
    font-size: 48px;
    color: white;
    height: 10vh;
}

#topContentContainer, #midContentContainer, #botContentContainer{
    display: none;
}

/*return button*/
.returnBack{
    width: 10vw;
    height: 10vh;
    border: solid;
    margin-left: 5vw;
    background: #595E33;
    display: flex;
    margin-bottom: 2vh;
}

.arrowContainer{
    margin: auto;
    width: 7.07vw;
    display: flex;
    flex-grow: 999;
}

.leftStraight{
    width: 5vw;
    margin: auto;
    color: white;
    border: solid;
}

.leftArrow{
    width: 3vw;
    height: 3vw;
    color: white;
    border-left: solid 5px;
    border-top: solid 5px;
    transform: rotate(-45deg);
    margin: auto;
}

#topContentContainer{
    display: flex;
    flex-direction: column;
    height: 90%;
}

.contentMenu{
    border: solid 1px;
    background: #414947;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: height 2s;
    overflow-y: scroll;
}

.contentMenuText{
    color: white;
    width: 100%;
    font-size: 32px;
    height: 48px;
    text-align: center;
}

.contentMenuContent{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* unit section */

.unitSection{
    display: flex;
    flex-direction: column;
    width: inherit;
}

.unitQA{
    width: inherit;
}

.unitTitle{
    color: #FFFFFF;
    width: inherit;
    font-size: 24px;
}

.unitQuestion{ 
    color: #ffbb00;
    width: inherit;
    font-size: 18px;
}

.unitAnswer{
    color: #17fff3;
    width: inherit;
    font-size: 18px;
}

/* end of unit section */

/* end of main*/




